
#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#semaforo{
    width: 25%;
}
.semaforo {
    border-width: 1px;
    border-style: solid;
    border-color: black;
  }

 

  button{
    margin: 5%;
  }